html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    min-height: 100vh;
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 30px;
    background-image: url("../images/currency_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;
}